# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/*.csv
data/*.json
data/*.xlsx
data/raw/
data/interim/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Model artifacts
models/
*.pkl
*.h5
*.joblib
